<a href="https://colab.research.google.com/github/RUSHIKETHANA28/23CSBTB27-28/blob/main/types_of_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data structures using numpy pandas

In [5]:
import numpy as np
list={1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list))
print(type(list1))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'set'>
<class 'list'>

In [8]:
list=["Greeks","For","Geeks"]
list2="my first lab"
list3=4.3
list4=2j+6
list5='my first. lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print(type(list))
print("\nlist items:")
print(list)
print(type(list))
print(list[0])
print(list[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>

list items:
['Greeks', 'For', 'Geeks']
<class 'list'>
Greeks
Geeks

In [13]:
list={1:"greek1",2: 'Geeks','For':3,'Geeks':6}
print("\nList with the use of mixed values : ")
print(list)
print(type(list))

List with the use of mixed values :
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}
<class 'dict'>